# Google AdSense Publisher ID Oficial
VITE_ADSENSE_CLIENT_ID=ca-pub-7415792754049263

# Contato Oficial do Suporte no WhatsApp
VITE_WHATSAPP_NUMBER=5584992344922

# URL Canônica do Portal
VITE_SITE_URL=https://natalvagas.com.br
